.education-section {
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.education-section h2 {
  font-size: 2rem;
  color: #006da4;
  margin-bottom: 20px;
}

.education-item {
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.6s ease-in-out;
  margin-bottom: 20px;
  padding: 15px;
  background: #081117;
  border-radius: 8px;
  box-shadow: 0 0 5px #003554;
}

/* Alternate slide-in directions */
.education-item.left {
  transform: translateX(-100px);
}

.education-item.right {
  transform: translateX(100px);
}

/* When item is in view */
.education-item.show {
  opacity: 1;
  transform: translateX(0);
}

.education-item h3 {
  font-size: 1.5rem;
  color: #004161;
}

.education-item p {
  font-size: 1rem;
  color: lightgray;
  white-space: pre-line; 
}

.edu-logo {
  width: 38px;
  height: 38px;
  margin: 8px 0;
  object-fit: contain;
}
